openapi: 3.0.3
info:
  title: ForroVivo Linguistic Research API
  version: "2.3.0"
  description: >
    ForroVivo is the platform and ecosystem. This API publishes machine-readable
    linguistic data for the Linguistic Research initiative within it.
    Each path serves one isolated dataset. Missing terms return TERM_NOT_FOUND.
    The Knowledge Base collections (grammar, expressions, proverbs, culture,
    food, music, dance, folklore, stories, places) stay empty until a cited
    source fills them. Search never crosses folders.
    Each entry includes an attested relation graph (means, belongs_to,
    related_to, appears_in, documented_by). Missing edges stay empty.
  license:
    name: Mixed. Project materials CC BY 4.0. Source extracts keep original terms.
servers:
  - url: https://api.forrovivo.com
    description: Production
  - url: http://127.0.0.1:8787
    description: Cloudflare Worker local
  - url: http://127.0.0.1:8000
    description: Python local
paths:
  /health:
    get:
      summary: Process health
      responses:
        "200":
          description: OK
  /v1:
    get:
      summary: API metadata
      responses:
        "200":
          description: Host, license, and catalog links
  /v1/datasets:
    get:
      summary: Isolated dataset catalog
      responses:
        "200":
          description: One object per dataset; indexes are not merged lexicons
  /v1/kb:
    get:
      summary: Knowledge Base map
      responses:
        "200":
          description: Isolated collection list (languages, entries, grammar, search, …)
  /v1/languages:
    get:
      summary: Isolated language catalog
      responses:
        "200":
          description: One lexicon per object; parent indexes are omitted
  /v1/search:
    get:
      summary: Search one dataset
      parameters:
        - in: query
          name: dataset
          required: true
          schema:
            type: string
          description: Isolated key such as saotome/forro
        - in: query
          name: q
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Hits from that dataset only
        "400":
          description: DATASET_REQUIRED or QUERY_REQUIRED
  /v1/grammar:
    get:
      summary: Grammar index (counts per isolated dataset; no merged records)
      responses:
        "200":
          description: Directory of /v1/{dataset}/grammar paths
  /v1/{family}/{variety}/grammar:
    get:
      summary: Grammar records in one isolated dataset
      parameters:
        - in: path
          name: family
          required: true
          schema:
            type: string
        - in: path
          name: variety
          required: true
          schema:
            type: string
        - in: query
          name: q
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Attested grammar records, or an empty list
        "404":
          description: TERM_NOT_FOUND for parent indexes
  /v1/{family}/{variety}/search:
    get:
      summary: Search entries, knowledge, and sources inside one dataset
      parameters:
        - in: path
          name: family
          required: true
          schema:
            type: string
        - in: path
          name: variety
          required: true
          schema:
            type: string
        - in: query
          name: q
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Isolated hits
        "400":
          description: QUERY_REQUIRED
  /v1/{family}:
    get:
      summary: Dataset metadata
      parameters:
        - in: path
          name: family
          required: true
          schema:
            type: string
            enum:
              [
                saotome,
                caboverde,
                guinebissau,
                angola,
                seychelles,
                equatorialguinea,
                southafrica,
                ghana,
                sierraleone,
                rdcongo,
                mauritius,
                nigeria,
                reunion,
                centralafrican,
                cameroon,
              ]
      responses:
        "200":
          description: Metadata without the full entry list
        "404":
          description: DATASET_NOT_FOUND
  /v1/{family}/lookup:
    get:
      summary: Headword lookup in one dataset
      parameters:
        - in: path
          name: family
          required: true
          schema:
            type: string
        - in: query
          name: headword
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Matching entries from that dataset only
        "404":
          description: TERM_NOT_FOUND or DATASET_NOT_FOUND
  /v1/{family}/{variety}:
    get:
      summary: Island or region dataset metadata
      parameters:
        - in: path
          name: family
          required: true
          schema:
            type: string
            enum:
              [
                saotome,
                caboverde,
                guinebissau,
                angola,
                seychelles,
                equatorialguinea,
                southafrica,
                ghana,
                sierraleone,
                rdcongo,
                mauritius,
                nigeria,
                reunion,
                centralafrican,
                cameroon,
              ]
        - in: path
          name: variety
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Metadata
        "404":
          description: DATASET_NOT_FOUND
  /v1/{family}/{variety}/lookup:
    get:
      summary: Headword lookup in one island or region
      parameters:
        - in: path
          name: family
          required: true
          schema:
            type: string
        - in: path
          name: variety
          required: true
          schema:
            type: string
        - in: query
          name: headword
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Matching entries from that variety only
        "404":
          description: TERM_NOT_FOUND or DATASET_NOT_FOUND
  /v1/{family}/entries:
    get:
      summary: Paginated list or search inside one dataset
      parameters:
        - in: path
          name: family
          required: true
          schema:
            type: string
        - in: query
          name: q
          required: false
          schema:
            type: string
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Page of entries
        "404":
          description: TERM_NOT_FOUND for indexes
  /v1/{family}/entries/{entry_id}:
    get:
      summary: One entry by id
      parameters:
        - in: path
          name: family
          required: true
          schema:
            type: string
        - in: path
          name: entry_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Entry
        "404":
          description: TERM_NOT_FOUND
  /v1/{family}/audio/{filename}:
    get:
      summary: Audio file from that dataset only
      parameters:
        - in: path
          name: family
          required: true
          schema:
            type: string
        - in: path
          name: filename
          required: true
          schema:
            type: string
      responses:
        "200":
          description: audio/mpeg
        "404":
          description: AUDIO_NOT_FOUND
